body {
    background-color: #666666;
    background-image: url('https://media.istockphoto.com/photos/alley-in-snowy-morning-picture-id533292615');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}h1 {
    font-size: 3vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
h2 {
    font-size: 2vw;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
}
p {
    font-size: 1vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
   
}
#l1 {
    font-size: 1vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
}
.l2 
{
    font-size: 1vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
}
.l3 
{
    font-size: 1vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
}