
body {
    background-color: red;
}
h1 {
    font-size: 2vw;
    color: blueviolet;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
h2 {
    font-size: 2vw;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
p {
    font-size: 1vw;
    color: greenyellow;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
#l1 {
    font-size: 1vw;
    color: fuchsia;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.l2 {
    font-size: 1vw;
    color: darkgreen;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    
}

