


body {
    background-color: #D4BEFD;
    background-image: url('https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolour-4116932_960_720.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 3vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    
}
#l1 {
    font-size: 1vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
#l2 {
    font-size: 1vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
#l3 {
    font-size: 1vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
#l4 {
    font-size: 1vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
#l5 {
    font-size: 1vw;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}