            
        #p1 {
            font-size: 2vw;
            color: blueviolet;
            text-align: center;
            font-style: italic;
            font-weight: bold;
            text-decoration: underline;
        }

        .p2 {
            font-size: 3vw;
            color: black;
            text-align: center;
        }

        li {
            font-size: 2vw;
            color: blueviolet;
            
        }